h1 {
    display: block;
    font-weight: 700;
    font-size: 50px;
    color: orangered;
    margin: 20px;
    font-family: 'Nabla', cursive;
}

div.profile-links {
    i {
        margin: 15px;
        font-size: 40px;
        color: lightblue;
    }
}

div.quote {
    width: 400px;
}